$remove_color: #a34646;
$update_color: #787955;
$more_color: #254342;
.places {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  min-height: 300px;
}
.place {
  padding: 30px;
  border: 1px solid #000;
  border-radius: 12px;
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__links {
    margin-bottom: 20px;
  }
  &__link:not(:last-of-type) {
    margin-right: 20px;
  }
  &__link {
    padding: 5px 10px;
    border-radius: 15px;
    &_remove {
      background: $remove_color;
    }
    &_update {
      background: $update_color;
    }
    &_more {
      background: $more_color;
    }
  }
}
