.drop-down {
  margin: 0;
  position: absolute;
  background: #fff;
  width: $input_width;
  text-align: center;
  padding: unset;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 999;
  border-radius: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  &__item {
    padding: 3px 0;
    border-bottom: 1px solid #d9d9d9;
    a {
      display: block;
      padding: 10px;
      color: #008ab7;
      &:hover {
        background: $hover_color;
        color: #fff;
      }
    }
  }
}

// a,
// a:focus,
// a:active {
//   outline: none;
//   text-decoration: none;
//   color: #008ab7;
//   // background-color: #0089b7;
// }
