.registr-auth_container {
  font-family: Inter;
  display: flex;
  max-width: fit-content;
  margin: auto;
  flex-direction: column;
  align-items: center;
}
.registr-auth_form {
  font-family: Inter;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #008ab7a3;
  color: #ffffff;
}
.registr-auth_label {
  font-family: Inter;
  font-size: x-large;
  font-weight: 555;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}
.registr-auth_input {
  font-family: Inter;
  width: 450px;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.registr-auth_button {
  font-family: Inter;
  width: 35%;
  height: 45px;
  border-radius: 6px;
  font-size: x-large;
  font-weight: 500;
  color: #00af83;
  background-color: #ffffff;
}
.reg-auth-dutton {
  font-family: Inter;
  display: flex;
  justify-content: center;
}
.img_registr {
  margin-top: 100px;
  max-width: 900px;
}

.register-auth_span {
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45px;
  font-weight: 500;
  border: 1px solid black;
  background: #00af83;
  border-radius: 6px;
  font-size: 25px;
  color: #ffffff;
  margin: 10px;
}

//#00AF83
//#008AB7
