$blue: #008ab7;
$date_com_color: #9a9a9a;
.comments {
  display: flex;
  flex-direction: column;
  padding: 20px;
  .comment {
    border: 1px solid $blue;
    padding: 20px 20px;
    border-radius: 9px;
    margin-bottom: 20px;
    &__date {
      color: $date_com_color;
    }
    &__delete {
      outline: none;
      border: none;
      background: inherit;
      color: $blue;
      font-size: 18px;
      padding: 0;
      margin: 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.comment__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  * {
    border-radius: 9px;
  }
}
.comment__input {
  margin-right: 20px;
}
.comment__submit {
  font-size: 20px;
  &:hover {
    background: #d9cdcd;
  }
}
